@media (min-width: 768px){
    .side-nav {
        background-color:black !important;
        height: 100%;
    }
}

.voilet{
    color: #7000ffd6 !important;
}
.bg-voilet{
    background-color: #7000ffd6 !important;
}

.btn1{
    border-radius: 0 !important;
}

.form-control{
    border-radius: 0 !important;
}

.btn{
    border-radius: 0 !important;
}

#load-screen {
    background: url(../images/header-back.png);
    position: fixed;
    z-index: 10000;
    top:0px;
    width: 100%;
    height: 1600px;
}

#loading {    
    width: 500px;
    height: 500px;
    margin: 10% auto;
    background: url(../images/loader.gif);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}
    